*

!.gitignore

!install
!install/**/*

!nvim
!nvim/**/*

!tmux
!tmux/**/*

!kitty
!kitty/**/*

!fish
!fish/**/*
fish/fish_variables

!hypr
!hypr/**/*

!waybar
!waybar/**/*

!wofi
!wofi/**/*

!symlink
!symlink/**/*

!gtk-3.0
!gtk-3.0/**/*

!xsettingsd
!xsettingsd/**/*

!neofetch
!neofetch/**/*

!zsh
!zsh/**/*

!rofi
!rofi/**/*

!README.md
