*

!.gitignore

!nvim
!nvim/**/*

!tmux
!tmux/**/*

!kitty
!kitty/**/*

!fish
!fish/**/*
fish/fish_variables

!hypr
!hypr/**/*

!waybar
!waybar/**/*

!wofi
!wofi/**/*

!symlink
!symlink/**/*

!README.md
