@define-color background #a18bcd;
@define-color text #4d2857;
@define-color darkText #562f61;
@define-color textActive #ffffff;
@define-color pink #c73484;
@define-color purple #7F2982;

* {
  padding: 0;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

.modules-left,
.modules-center,
.modules-right {
  font-family: "FiraCodeNerdFont";
  font-size: 16px;
  font-weight: 500;
  color: @text;
  margin-top: 5px;
}

.modules-right label.module {
}

/* the whole window */
window#waybar {
  background: transparent;
}

tooltip {
  background-color: @mantle;
  color: @text;
  border-radius: 8px;
}

#window,
#tray,
#workspaces,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#bluetooth,
#custom-keyboard,
#custom-wifi,
#custom-player,
#custom-player-previous,
#custom-player-play-pause,
#custom-player-next,
#clock {
  background-color: @background;
  border-radius: 6px;
  padding: 2px 12px;
  margin: 0 3px;
}

/* ================================ */
/*              Player              */
/* ================================ */
#custom-player {
}
#custom-player-play-pause,
#custom-player-previous,
#custom-player-next {
}

#custom-player-play-pause {
  font-size: 18px;
}

#custom-player-previous,
#custom-player-next {
  font-size: 24px;
}

#custom-player-next {
}

#custom-player-previous:hover,
#custom-player-play-pause:hover,
#custom-player-next:hover {
}

/* ================================ */
/*       workspaces module          */
/* ================================ */
#workspaces {
  font-family: "Noto Sans CJK JP";
  font-weight: 900;
  font-size: 20px;
  background-color: @background;
  border-radius: 6px;
  color: @text;
}

#workspaces button {
  color: @text;
  padding: 0 12px;
}

#workspaces button.active {
  color: @purple;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#battery {
}

#battery.critical {
}

#battery.warning {
}

#custom-keyboard {
}

#bluetooth {
  padding: 0 12px 0 10px;
}

#custom-wifi {
}

#clock.date {
}

#clock.time {
}

#custom-notification {
  color: @text;
  font-size: 14px;
}

/* @define-color rosewater #f5e0dc; */
/* @define-color flamingo #f2cdcd; */
/* @define-color pink #f5c2e7; */
/* @define-color mauve #cba6f7; */
/* @define-color red #f38ba8; */
/* @define-color maroon #eba0ac; */
/* @define-color peach #fab387; */
/* @define-color yellow #f9e2af; */
/* @define-color green #a6e3a1; */
/* @define-color teal #94e2d5; */
/* @define-color sky #89dceb; */
/* @define-color sapphire #74c7ec; */
/* @define-color blue #89b4fa; */
/* @define-color lavender #b4befe; */
/* @define-color text #cdd6f4; */
/* @define-color subtext1 #bac2de; */
/* @define-color subtext0 #a6adc8; */
/* @define-color overlay2 #9399b2; */
/* @define-color overlay1 #7f849c; */
/* @define-color overlay0 #6c7086; */
/* @define-color surface2 #585b70; */
/* @define-color surface1 #45475a; */
/* @define-color surface0 #313244; */
/* @define-color base #1e1e2e; */
/* @define-color mantle #181825; */
/* @define-color text #11111b; */
