@define-color base #1e1e2e;
@define-color mauve #cba6f7;
@define-color surface #313244;
@define-color overlay #7f849c;
@define-color text #cdd6f4;
@define-color mantle #181825;
@define-color crust #11111b;

* {
  padding: 0;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

.modules-left,
.modules-right {
  background-color: @base;
  border-radius: 8px;
  padding: 0 12px;
}

/* the whole window */
window#waybar {
  background: transparent;
}

tooltip {
  background-color: @mantle;
  color: @text;
  border-radius: 8px;
}

#window,
#tray,
#workspaces,
#temperature,
#temperature.critical,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#clock {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
  font-weight: 500;
}

/* ================================ */
/*              Player              */
/* ================================ */
#custom-player {
  color: @mauve;
}
#custom-player-previous,
#custom-player-play-pause,
#custom-player-next {
  font-size: 20px;
  padding: 0 6px;
}

#custom-player-previous:hover,
#custom-player-play-pause:hover,
#custom-player-next:hover {
  color: @mauve;
}

/* ================================ */
/*       workspaces module          */
/* ================================ */
#workspaces {
  font-family: "Noto Sans CJK JP";
  font-weight: 800;
  font-size: 20px;
  background-color: @base;
  border-radius: 8px;
}

#workspaces button {
  min-width: 25px;
  padding: 4px 8px;
}

#workspaces button:last-child {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
#workspaces button:first-child {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
#workspaces button.active {
  background-color: @surface;
  color: @mauve;
}

/* ================================ */
/*            window                 */
/* ================================ */

#window {
}

/* ================================ */
/*            tray                 */
/* ================================ */

#tray {
}

/* ================================ */
/*         pulseaudio               */
/* ================================ */
#pulseaudio {
  color: @text;
  background: @base;
}

#pulseaudio.muted {
  color: #ea6962;
  background: @base;
}

/* ================================ */
/*            battery               */
/* ================================ */
#battery {
  color: @text;
  background: @base;
}

#battery.critical {
  color: #cc241d;
  background: @base;
}

#battery.warning {
  color: #e78a4e;
  background: @base;
}
/* ================================ */
/*            clock                 */
/* ================================ */
#clock.time {
  color: @text;
  background: @base;
}

#clock.date {
  color: @text;
  background: @base;
}

#custom-notification {
  color: @text;
  font-size: 14px;
  background: @base;
  padding: 2px 2px;
}
