@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
  padding: 0;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

.modules-left,
.modules-center,
.modules-right {
  font-family: "FiraCodeNerdFont";
  font-size: 16px;
  font-weight: 500;
  color: @crust;
  margin-top: 5px;
}

.modules-left,
.modules-right {
  background: @base;
  border-radius: 4px;
}

.modules-right {
  padding: 0 3px;
}
.modules-right label.module {
  border-radius: 4px;
  padding: 4px 8px;
  margin: 6px 3px;
}

/* the whole window */
window#waybar {
  background: transparent;
}

tooltip {
  background-color: @mantle;
  color: @text;
  border-radius: 8px;
}

#window,
#tray,
#workspaces,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#bluetooth,
#custom-keyboard,
#custom-wifi,
#custom-player,
#custom-player-previous,
#custom-player-play-pause,
#custom-player-next,
#clock {
}

/* ================================ */
/*              Player              */
/* ================================ */
#custom-player {
  background: @mauve;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 6px;
}
#custom-player-play-pause,
#custom-player-previous,
#custom-player-next {
  background: @maroon;
  border-radius: 4px;
  padding: 0 8px;
  margin: 6px 0;
}

#custom-player-play-pause {
  font-size: 18px;
}

#custom-player-previous,
#custom-player-next {
  font-size: 24px;
}

#custom-player-next {
  margin-right: 6px;
}

#custom-player-previous:hover,
#custom-player-play-pause:hover,
#custom-player-next:hover {
  background-color: @mauve;
}

/* ================================ */
/*       workspaces module          */
/* ================================ */
#workspaces {
  font-family: "Noto Sans CJK JP";
  font-weight: 800;
  font-size: 20px;
  background-color: @base;
  border-radius: 4px;
}

#workspaces button {
  min-width: 25px;
  padding: 4px 8px;
}

#workspaces button:last-child {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
#workspaces button:first-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
#workspaces button.active {
  background-color: @mauve;
  color: @crust;
}

#pulseaudio {
  background-color: @lavender;
}

#pulseaudio.muted {
  background-color: @red;
}

#battery {
  background-color: @teal;
}

#battery.critical {
  background-color: @red;
}

#battery.warning {
  background-color: @yellow;
}

#custom-keyboard {
  background-color: @sapphire;
}

#bluetooth {
  background-color: @peach;
  padding: 0 12px 0 10px;
}

#custom-wifi {
  background-color: @maroon;
}

#clock.date {
  background-color: @sky;
}

#clock.time {
  background-color: @mauve;
}

#custom-notification {
  color: @text;
  font-size: 14px;
  background: @base;
  padding: 2px 2px;
}
